<%- include('includes/head') %>

    <!-- breadcrumb start-->
    <section class="breadcrumb breadcrumb_bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb_iner text-center">
                        <div class="breadcrumb_iner_item">
                            <h2>المقالات</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- breadcrumb start-->

    <!-- blogs_part part start-->
    <section class="project_part padding_bottom padding_top">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-lg-4">
                    <div class="section_tittle">
                        <h2>المقالات</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <%blogs.forEach(b=>{ %>
                    <div class="col-md-6 col-lg-4 mb-4">
                        <div class="card" style="width: 100%">
                            <img src="<%=b.img%>" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">
                                    <%=b.name.ar%>
                                </h5>
                                <p class="card-text">
                                    <%-b.desc.ar.slice(0,50)%>
                                </p>
                                <a href="/blog/<%=b._id%>" class="btn_1">المزيد<span><img src="/main/img/icon/left.svg"
                                            alt=""></span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <%})%>
            </div>
        </div>
    </section>
    <!-- blogs_part part end-->
    <%- include('includes/footer') %>