<%- include('includes/head') %>
    <!-- banner part start-->
    <section class="banner_part">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="banner_text">
                        <% projects.forEach(p=>{ %>
                            <div class="banner_text_iner">
                                <h5>
                                    <%=p.categ.ar%>
                                </h5>
                                <h1>
                                    <%=p.name.ar%>
                                </h1>
                                <p>
                                    <%= p.desc.ar.slice(0,30)%> ...
                                </p>
                                <div class="banner_btn">
                                    <a href="/project/<%=p._id%>" class="btn_1">learn more <span><img
                                                src="/main/img/icon/left.svg" alt=""></span>
                                    </a>
                                </div>
                            </div>
                            <%})%>
                    </div>
                    <div class="nav next"><a href="#"><span class="flaticon-left-arrow"></span></a></div>
                    <div class="nav prev"><a href="#"><span class="flaticon-right-arrow"></span></a></div>
                </div>
            </div>
        </div>
    </section>
    <div class="our_speciality">
        <section class="single_page_special">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="clients_images_top">
                            <img src="/main/img/clints/massa-5.png" alt="">
                            <img src="/main/img/clints/massa-6.png" alt="">
                            <img src="/main/img/clints/massa-7.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <!-- banner part start-->


    <!-- our clients part start-->
    <div class="our_clients">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="section_tittle">
                        <h2>عملاؤنا</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="single_page_special_item owl-carousel text-center">
                        <div class="single_slide_item">
                            <img src="/main/img/clints/1.png" alt="">
                        </div>
                        <div class="single_slide_item">
                            <img src="/main/img/clints/2.png" alt="">
                        </div>
                        <div class="single_slide_item">
                            <img src="/main/img/clints/3.png" alt="">
                        </div>
                        <div class="single_slide_item">
                            <img src="/main/img/clints/4.png" alt="">
                        </div>
                        <div class="single_slide_item">
                            <img src="/main/img/clints/5.png" alt="">
                        </div>
                        <div class="single_slide_item">
                            <img src="/main/img/clints/6.png" alt="">
                        </div>
                        <div class="single_slide_item">
                            <img src="/main/img/clints/7.png" alt="">
                        </div>
                        <div class="single_slide_item">
                            <img src="/main/img/clints/8.png" alt="">
                        </div>
                        <div class="single_slide_item">
                            <img src="/main/img/clints/9.png" alt="">
                        </div>
                        <div class="single_slide_item">
                            <img src="/main/img/clints/10.png" alt="">
                        </div>
                        <div class="single_slide_item">
                            <img src="/main/img/clints/11.png" alt="">
                        </div>
                        <div class="single_slide_item">
                            <img src="/main/img/clints/12.png" alt="">
                        </div>
                        <div class="single_slide_item">
                            <img src="/main/img/clints/13.png" alt="">
                        </div>
                        <div class="single_slide_item">
                            <img src="/main/img/clints/14.png" alt="">
                        </div>
                        <div class="single_slide_item">
                            <img src="/main/img/clints/15.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- our clients part end-->

    <!-- about part start-->
    <div class="about_part section_bg">
        <div class="container-fluid">
            <div class="row justify-content-end">
                <div class="col-lg-5 col-md-6">
                    <div class="about_part_text" style="text-align: right;">
                        <h2>من نحن</h2>
                        <p>

                            <%=about.ar.slice(0,200)%>
                        </p>
                        <a href="/about" class="btn_1">المزيد<span><img src="/main/img/icon/left.svg" alt=""></span>
                        </a>
                    </div>
                </div>
                <div class="col-lg-7 col-md-6">
                    <div class="about_img">
                        <img src="<%=about.img%>" alt="#">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- about part end-->


    <!-- service part start-->
    <section class="service_part">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="section_tittle">
                        <h2>خدماتنا</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="service_slider owl-carousel">
                        <% servs.forEach(s=>{ %>
                            <div class="single_service_slide">
                                <div class="row justify-content-end align-items-center single_service">
                                    <div class="col-lg-6 col-md-6">
                                        <img src="<%=s.img%>" alt="#">
                                    </div>
                                    <div class="col-lg-5 col-md-6">
                                        <div class="service_text" style="text-align: right;">
                                            <h3>
                                                <%=s.title.ar%>
                                            </h3>
                                            <p>
                                                <%=s.content.ar%>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <%})%>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- service part end-->

    <!-- project_part part start-->
    <section class="project_part padding_bottom">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-lg-4">
                    <div class="section_tittle">
                        <h2>مشاريعنا</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="project_slider owl-carousel">
                        <% projectsP.forEach(p=>{%>
                            <div class="single_project_slide">
                                <div class="row">
                                    <% p.forEach(p=>{ %>
                                        <div class="col-lg-4 col-md-6">
                                            <img src="<%=p.imgs[0]%>" alt="#">
                                            <div class="single_project_text" style="text-align: right;">

                                                <p>
                                                    <%=p.desc.ar.slice(0,50) %>...
                                                </p>
                                                <a href="/project/<%=p._id%>" class="btn_1">المزيد<span><img
                                                            src="/main/img/icon/left.svg" alt=""></span> </a>
                                            </div>
                                        </div>
                                        <%})%>
                                </div>
                            </div>
                            <%})%>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- project_part part end-->
    <!-- contact us part start-->
    <!-- <section class="contact_us">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="contact_us_iner">
                        <div class="row justify-content-around">
                            <div class="col-lg-4">
                                <div class="contact_us_left_text">
                                    <h4>
                                        <div class="logo">
                                            <a href="#">
                                                <img src="img/logo.png" alt="">
                                            </a>
                                        </div>
                                    </h4>
                                    <p>324 King Heaven tower, House no, 15 King building
                                        Melbourne ,VIC-222, Australia</p>
                                    <p>Email: infoheaven@gmail.com <br>Phone no: 23113 6456 888</p>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="contact_us_right_text">
                                    <h5>Call Directly;</h5>
                                    <h2>(23131 65465 54)</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> -->
    <!-- contact us part end -->

    <!-- map us part start-->
    <section class="map_part">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="map_iner">
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d455.295185821188!2d32.9089203!3d24.08878!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14367b34f86452c7%3A0x42a3a5a9f672d514!2z2KfZhNmF2KfYs9ipINmD2YjZhtiz2YTYqiDZhNmE2KXYs9iq2LTYp9ix2KfYqiDZiNin2YTYo9i52YXYp9mEINin2YTZh9mG2K_Ys9mK2Kk!5e0!3m2!1sar!2seg!4v1677294652245!5m2!1sar!2seg"
                            width="100%" height="500" style="border:0;" allowfullscreen="" loading="lazy"
                            referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- map us part end-->

    <%- include('includes/footer') %>