<%- include('includes/head') %>
    <!-- breadcrumb start-->
    <section class="breadcrumb breadcrumb_bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb_iner text-center">
                        <div class="breadcrumb_iner_item">
                            <h2>تفاصيل المشروع</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- breadcrumb start-->

    <!-- project_details start-->
    <section class="project_details section_padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="project_details_img">
                        <img src="<%=p.imgs[0]%>" alt="#">
                    </div>
                </div>
                <div class="col-lg-10">
                    <div class="project_details_text">
                        <h2>وصف المشروع</h2>
                        <p>
                            <%= p.desc.ar%>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- project_details end-->

    <!-- project details gallery start-->
    <section class="project_gallery padding_bottom">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>معرض صور المشروع</h2>
                    <div class="grid gallery">
                        <div class="grid-sizer"></div>
                        <div class="grid-item big_weight">
                            <a href="<%=p.imgs[0]%>" class="">
                                <div class="project_img">
                                    <img src="<%=p.imgs[0]%>" alt="">
                                </div>
                            </a>
                        </div>
                        <% for(let i=1; i < p.imgs.length; i++){%>
                            <div class="grid-item">
                                <a href="<%=p.imgs[i]%>" class="">
                                    <div class="project_img">
                                        <img src="<%=p.imgs[i]%>" alt="">
                                    </div>
                                </a>
                            </div>
                            <%}%>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <!-- project details gallery start-->

    <!-- map us part start-->
    <section class="map_part">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="map_iner">
                        <div class="map"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- map us part end-->
    <%- include('includes/footer') %>